/*-------------------
       RESET
-------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------
     UTILITIES
-------------------*/

.flex {
    display:flex
}

/*-------------------
    GRID LAYOUT
-------------------*/

.col_33 {width: calc(100% / 3);}

/*-------------------
      HEADER
-------------------*/

/*-------------------
        MAIN
-------------------*/

/*-------------------
       FOOTER
-------------------*/