/*-------------------
       RESET
-------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body  {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/*-------------------
     UTILITIES
-------------------*/

.flex {
    display:flex
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.align_center {
    align-items: center;
}

.space_between {
    justify-content: space-between;
}

.space_evenly {
    justify-content: space-evenly;
}

.white_text {
    color: white;
}

.border_none {
    border: none;
}

/*------------------------------
      LAYOUT - UTILITIES
--------------------------------*/

.pad_20 {
    padding: 20px;
}

.pad_10 {
    padding: 10px;
}

.marg_20 {
    margin: 20px;
}

.marg_top_30 {
    margin-top: 30px;
}

.height_100 {
    height: 100%;
}

.width_100 {
    width: 100%;
}

/*-------------------
       BUTTONS
-------------------*/

.btn_standard {
    border-radius: 30px;
    margin: 20px 0;
    padding: 10px;
}

/*-------------------
    GRID LAYOUT
-------------------*/

.container_big {
    width: 80%;
    margin: auto;
}

.col_33 {
    width: calc(100% / 3);
}

.col_50 {
    width: 50%;
}

.col_66 {
    width: calc((100% /3) * 2);
}


/*-------------------
        CARDS
-------------------*/

.card {
    border-radius: ;
    line-height: ;
    background-color: #b5ddff;
}



/*-------------------
      HEADER
-------------------*/

header {
    background-color: #0084fd ;
    position: sticky;
    top: 0;
}

.fa-bars::before {
    display: none !important;
  }

/*-------------------
        MAIN
-------------------*/


/*-------------------
       INTRO
-------------------*/


/*-------------------
       FOOTER
-------------------*/


/*-------------------
    MEDIA QUERIES
-------------------*/

 @media screen and (max-width: 992px){
    .container_big {
    width: 80%;  
    }
    .container_big ul {
    display: none;
}
 
.fa-bars::before {
    display: flex !important; 
    align-items: center;
    line-height: 80px;
    font-size: 24px;
    }

 @media screen and (max-width: 768px){
 
  }
 }