/*-------------------
       RESET
-------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body  {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
/*-------------------
     UTILITIES
-------------------*/

.block {
    display: block;
}

.inline_block {
    display: inline-block;
}

.flex {
    display:flex
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.jstfy_content_cntr  {
    justify-content: center;
}

.align_end{
    align-items: end; 
}

.align_center {
    align-items: center;
}

.space_between {
    justify-content: space-between;
}

.space_evenly {
    justify-content: space-evenly;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.circle_img {
    clip-path: circle();
}

/*------------------------------
    FONTS/COLORS - UTILITIES
-------------------------------*/


.text_center {
    text-align: center;
}

.text_start {
    text-align: start;
}

.line_height_26 {
    line-height: 26px;
}

.line_height_40 {
    line-height: 40px;
}

.font_sz_20 {
    font-size: 20px;
}

.font_sz_24 {
    font-size: 24px;
}

.font_sz_30 {
    font-size: 30px;
}

.font_sz_40 {
    font-size: 40px;
}

.font_sz_50 {
    font-size: 50px;
}

.opacity_04 {
    opacity: 0.4;
}

.font_weight_100 {
    font-weight: 100;
}

.color_white {
    color: white;
}

.color_lightblue {
    color:#0084fd;
}

.color_purple {
    color: #9792e4;
}

.color_black {
    color: black;
}

.color_senape {
    color: #fdc15f;
}

.background_lightblue {
    background-color:#0084fd;
}

.background_purple {
    background-color: #9792e4;
}

.background_sky {
    background-color: #b5ddff;
}

.background_white {
    background-color: white;
}

/*------------------------------
      LAYOUT - UTILITIES
--------------------------------*/

.pad_10 {
    padding: 10px;
}

.pad_20 {
    padding: 20px;
}

.pad_50{
    padding: 50px;
}

.pad_100{
    padding: 100px;
}

.pad_top_20 {
    padding-top: 20px;
}

.pad_top_50 {
    padding-top: 50px;
}

.pad_bot_20 {
    padding-bottom: 20px;
}

.pad_bot_50 {
    padding-bottom: 50px;
}

.pad_left_20 {
    padding-left: 20px;
}

.pad_left_50 {
    padding-left: 50px;
}

.pad_right_20 {
    padding-right: 20px;
}

.pad_right_50 {
    padding-right: 50px;
}

.marg_20 {
    margin: 20px;
}

.marg_100 {
    margin: 100px;
}
.marg_top_20 {
    margin-top: 20px;
}

.marg_top_50 {
    margin-top: 50px;
}

.marg_top_100 {
    margin-top: 100px;
}

.marg_top_150 {
    margin-top: 150px;
}

.marg_top_200 {
    margin-top: 200px;
}

.marg_bot_20 {
    margin-bottom: 20px;
}

.marg_bot_50 {
    margin-bottom: 50px;
}

.marg_left_10 {
    margin-left: 10px;
}

.marg_left_20 {
    margin-left:20px;
}

.marg_left_50 {
    margin-left:50px;
}


.marg_left_300 {
    margin-left:300px;
}

.marg_right_10 {
    margin-right: 10px;
}

.marg_right_20 {
    margin-right: 20px;
}

.marg_right_50 {
    margin-right: 50px;
}

.marg_right_300 {
    margin-right: 300px;
}

.height_100 {
    height: 100%;
}

.height_50 {
    height: 50%;
}

.width_100 {
    width: 100%;
}

.width_80 {
    width: 80%;
}

.width_50 {
    width: 50%;
}

.width_30 {
    width: 30%;
}


.gap_10 {
    gap: 20px;
}

.gap_20 {
    gap:20px;
}

.gap_50 {
    gap:50px;
}

.border_rad_10 {
    border-radius: 10px;
}

.border_rad_30 {
    border-radius: 30px;
}

.border_rad_50 {
    border-radius: 50px;
}

.border_rad_100 {
    border-radius: 100%;
}

/*-------------------
    GRID LAYOUT
-------------------*/

.container_big {
    width: 1200px;
    margin: auto;
}

.container_small {
    width: 800px;
    margin: auto;
}

.col_20 {
    width: 20%;
}

.col_30 {
    width: 30%;
}

.col_33 {
    width: calc(100% / 3);
}

.col_50 {
    width: 50%;
}

.col_66 {
    width: calc(100% - (100% / 3));
}

.col_70 {
    width: 70%;
}

.col_80 {
    width: 80%;
}

/*-------------------
       BUTTONS
-------------------*/

.btn_standard {
    border-radius: 30px;
    margin: 20px 0;
    border: none; 
    padding: 10px;
}

.btn_big {
    border-radius: 30px;
    margin: 20px 0;
    border: none; 
    padding: 20px;
}


/*-------------------
      HEADER
-------------------*/

header { 
    position: sticky;
    top: 0;
    z-index: 1000;
}

.fa-bars::before {
    display: none !important;
}

/*-------------------
    MEDIA QUERIES
-------------------*/

@media screen and (max-width: 992px){
   
    /*----HEADER----*/
    
    .container_big {
    max-width: 100%;  
    }
    
    header .container_big {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    header .container_big ul {
    display: none;
    }

    header 
    .fa-bars::before {
        display: flex !important; 
        align-items: center;
        line-height: 80px;
        font-size: 24px;
    }

    /*----INTRO----*/

    .section_intro .container_elements {
        display: inline-block;
    }
    .section_intro figure img{
        width: 40%;    
    }

     /*----PLANNING----*/

    .section_planning .container_big {
        display: inline-block;
    }

    .section_planning .card {
        margin: 0;
    }

    .section_planning img {
        width: 100%;
    }
    
    .section_planning img {
        width: 100%;
    }

    .section_planning h3.marg_top_150 {
        margin-top: 50px;
        font-size: 2.5rem;
    }

    /*----WORKING WITH US----*/
   
    .sect_work_with_us .col_30 {
        width: 46%;       
        background-color: white;
    }

}

 @media screen and (max-width: 768px){
    
    /*----INTRO----*/
  
   .container_big {
        max-width: 100%;
    }

   .section_intro .flex {
        display: inline-block;
    }

    .section_intro .col_33, .col_66 {
        width: 100%;
    }

    .section_intro .card {
        margin-top: 30px;  
    }

    .section_intro figure{
        display: block;
        justify-content: center;
    }

    .section_intro .row.marg_top_20 {
        margin-top: 0;       
    }

    /*----WORKING WITH US----*/
   
    .sect_work_with_us .col_30 {
        width: 90%;       
        background-color: white;
    }

    /*----ABOUT US----*/

    .section_about_us .container_big{
        display: inline-block;
    }

    .section_about_us .col_70, .col_30{
        width: 100%;
    }

    /*---GET STARTED---*/

    .section_get_started .container_small {
        max-width: 100%;
    }

 }